* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: url("./background-image/bgh.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.title {
  -webkit-text-stroke: 1px white;
}

.imgT {
  margin: 5px;
}

a:link {
  text-decoration: none;
}

.dash1 {
  color: rgb(167, 230, 255);
  text-decoration: underline;
}

.dash:hover {
  color: rgb(167, 230, 255);
  cursor: pointer;
  text-decoration: underline;
}

.privatize {
  width: 5.3ch;
  overflow: hidden;
  white-space: nowrap;
}

.privatize2 {
  margin: 10px 0;
  width: 5.3ch;
  overflow: hidden;
  white-space: nowrap;
}
