* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: url(".././public/bgh.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.title {
  -webkit-text-stroke: 1px white;
}

.imgT {
  margin: 5px;
}

a:link {
  text-decoration: none;
}

/* a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: underline;
} */

.dash:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}
