* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: url("./background-image/bgh.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.title {
  -webkit-text-stroke: 1px white;
}

.imgT {
  width: 9%;
  margin: 5px;
}

a:link {
  text-decoration: none;
}

/* .dash1 {
  padding-bottom: 10px;
  color: rgb(167, 230, 255);
  text-decoration: underline;
}
.dashl {
  padding-bottom: 10px;
  color: rgb(167, 230, 255);
}
.dash {
  padding-bottom: 10px;
} */

.dash:hover {
  color: rgb(167, 230, 255);
  cursor: pointer;
  text-decoration: underline;
}
